/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  font-family: "Kosugi Maru";
  background-color: #fbf1e5;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

textarea {
  border: none;
  outline: none;
}

h1 {
  font-size: 2rem;
}

main {
  transform: translateY(70px);
  padding: 12px;
  font-size: 1.2rem;
}

@font-face {
  font-family: "Kosugi Maru", sans-serif;
  src: url(/fonts/Kosugi_Maru/KosugiMaru-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url(/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf) format("truetype'");
}
header {
  width: 390px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fbf1e5;
}
header .logo {
  width: 45px;
  height: 45px;
}
header input {
  width: 270px;
  height: 37px;
  padding: 0 12px;
  border-radius: 10px;
  background-color: #fff;
}
header .notice {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  background-color: #fff;
  border: solid 1px #eb922a;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .notice a {
  width: 27px;
  height: 27px;
}

.nav {
  width: 390px;
  height: 60px;
  background-color: #eb922a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.nav__item {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.nav__item figcaption {
  font-size: 0.9rem;
  color: #fff;
}
.nav__item a {
  width: 26px;
}

.h-tab {
  display: flex;
  width: 390px;
  margin: 0 auto;
}
.h-tab__item {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  background-color: #f6e1aa;
}
.h-tab__item--follow {
  background-color: #fff;
}

.h-container {
  width: 390px;
  height: 77vh;
  padding: 8px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  background-color: #fff;
}
.h-container::-webkit-scrollbar {
  display: none;
}

.h-contents {
  width: 350px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.h-title {
  width: 320px;
  height: 24px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 12px;
  left: 15px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.h-title__icon {
  width: 20px;
  height: 20px;
  margin: 0 12px;
}
.h-title__icon img {
  width: 100%;
  height: 100%;
}

.h-action {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.h-action figure img {
  height: 20px;
}
.h-action figure:first-child {
  display: flex;
  gap: 12px;
}

.h-tt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin: 8px 0 12px;
}
.h-tt__time {
  display: flex;
  align-items: center;
}
.h-tt__time img {
  width: 15px;
}
.h-tt__tag p {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  color: #fff;
  background-color: #ffb800;
  border-radius: 3px;
}

.h-detail__tag {
  color: #eb922a;
}

.h-showComment {
  margin: 8px 0;
  color: #ccc;
}

.h-addComment {
  display: flex;
  align-items: center;
}
.h-addComment__icon {
  width: 20px;
  height: 20px;
  border-radius: 25%;
}
.h-addComment__text {
  width: 100%;
  padding: 4px 8px;
}

.p-wrap {
  padding-top: 5vh;
}

.p-title {
  text-align: center;
  margin: 12px 0;
  color: #eb922a;
}

.p-container {
  width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.p-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.p-contents__item {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px auto;
}
.p-contents__item > label {
  width: 50px;
  font-size: 10px;
  text-align: right;
}
.p-contents__item > input,
.p-contents__item textarea {
  border: solid 1px;
  width: 200px;
  border-radius: 5px;
}
.p-contents__item .time {
  width: 120px;
}

.p-thumbnail {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  position: relative;
}
.p-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-thumbnail::before {
  content: "";
  display: block;
  width: 100%;
  height: 150px;
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.p-filter {
  width: 330px;
  margin: 8px auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
.p-filter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-filter__item div {
  width: 40px;
  height: 40px;
  background-color: #c8c8c8;
}
.p-filter__item p {
  font-size: 1rem;
}

.p-tag {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
}
.p-tag::after {
  content: "";
  width: 42%;
  height: 20px;
}
.p-tag__item {
  width: auto;
  height: 20px;
  line-height: 20px;
  position: relative;
}
.p-tag__item input[type=checkbox] {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  position: absolute;
  border-radius: 5px;
}
.p-tag__item input[type=checkbox]:checked + label::after {
  background-color: #ffb800;
  opacity: 1;
  z-index: -1;
}
.p-tag__item label {
  padding: 0 4px;
  border-radius: 5px;
  display: block;
  height: 100%;
  font-size: 1rem;
  color: #fff;
}
.p-tag__item label::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffb800;
  opacity: 0.5;
  border-radius: 5px;
  z-index: -1;
}

.p-post {
  width: 120px;
  height: 36px;
  line-height: 36px;
  border-radius: 20px;
  text-align: center;
  border: none;
  color: #fff;
  background-color: #eb922a;
}
.p-post a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}