@font-face {
  font-family: "Kosugi Maru", sans-serif;
  src: url(/fonts/Kosugi_Maru/KosugiMaru-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url(/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf)
    format("truetype'");
}
