@use "../config/variables" as var;

header {
  width: 390px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var.$base;
  .logo {
    width: 45px;
    height: 45px;
  }
  input {
    width: 270px;
    height: 37px;
    padding: 0 12px;
    border-radius: 10px;
    background-color: #fff;
  }
  .notice {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background-color: #fff;
    border: solid 1px var.$accent;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      width: 27px;
      height: 27px;
    }
  }
}
