@use "../config/variables" as var;
.nav {
  min-width: 390px;
  width: 420px;
  height: 60px;
  background-color: var.$accent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 88;

  &__item {
    width: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    figcaption {
      font-size: 0.9rem;
      color: #fff;
    }
    a {
      width: 26px;
    }
  }
}
