@use "../config/variables" as var;

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: var.$text;
  background-color: var.$base;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input {
  border: none;
  outline: none;
}
