@use "../config/variables" as var;
@use "../config/mixin" as mix;

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: var.$text;
  @include mix.baseFont;
  position: relative;
  background-color: #fff;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input {
  border: none;
  outline: none;
}
textarea {
  border: none;
  outline: none;
}

h1 {
  font-size: 2rem;
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: var.$base;
}
// 画面サイズが390px以上の場合
@media screen and (min-width: 390px) {
  .wrapper {
    min-width: 390px;
    max-width: 420px;
    height: 100vh;
    margin: 0 auto;
    background-color: var.$base;
  }
}

main {
  width: 100%;
  height: 92%;
  transform: translateY(70px);
  padding: 12px;
  font-size: var.$base_font;
  position: relative;
  bottom: 0;
  overflow: hidden;
}
