@use "../config/variables" as var;
@use "../config/mixin" as mix;

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: var.$text;
  @include mix.baseFont;
  background-color: var.$base;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input {
  border: none;
  outline: none;
}
textarea {
  border: none;
  outline: none;
}

h1 {
  font-size: 2rem;
}

main {
  transform: translateY(70px);
  padding: 12px;
  font-size: var.$base_font;
}
